<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YourGoals Views.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>YourGoals WatchKit App (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>YourGoals WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>YourGoals WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>YourGoals.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7BAAFEE21F9CA2FA00BB102E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BAAFEF61F9CA2FA00BB102E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BAAFF011F9CA2FA00BB102E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BAAFF0A1F9CA2FB00BB102E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
